/* Shared Styles */
.ffamily {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

/* Dark -01 */
.primary-color {
    color: rgba(19, 19, 19, 1);
}

/* Dark-02 */
.secondary-color {
    color: rgba(66, 66, 66, 1);
}

/* Dark-03 */
.tertiary-color {
    color: rgba(114, 114, 114, 1);
}

.btn-primary {
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 50px;
}

.structure {
    padding: 10px 150px;
}

/* Navbar Styles */

.brand {
    background-color: rgba(255, 144, 14, 0.1);
    padding: 10px 150px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
}

.navbar-title {
    font-size: 2.3rem;
}

.menu-item {
    align-items: center;
    justify-content: right;
    margin: auto 0px;
}

.menu-item a {
    text-decoration: none;
    margin-left: 40px;
    font-size: 1.1rem;
    font-weight: 600;
}

.brand-title {
    text-align: center;
    padding: 0px 200px;
}

.brand-title h2 {
    font-size: 3rem;
    font-weight: bold;
}

.brand-title p,
.feature-para {
    font-size: 1rem;
    text-align: justify;
}


.brand-image img {
    max-width: 100%;
}

/* Main part Styles */

.feature {
    display: flex;
    gap: 50px;
    align-items: center;
}

.feature-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 15px;
}

.feature-image img {
    width: 280px;
    height: auto;
}

.quick {
    font-size: 2.7rem;
    font-weight: 500;
}

.our {
    font-size: 2.7rem;
    font-weight: 600;
}

.features {
    font-size: 2.7rem;
    font-weight: 600;
    color: #FF900E;
}

.feature-btn {
    margin: 30px 0px;
    padding: 15px 20px;
    font-size: 1rem;
}

/* Responsive Design */

/* For small Devices */
@media screen and (max-width:572px) {
    .brand {
        padding: 10px 20px;
    }

    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .navbar-title h3 {
        margin: 10px 0px 20px;
        font-size: 1.5rem;
    }

    .menu-item a {
        margin: 5px;
        font-size: 0.9rem;
        font-weight: 500;
    }


    .brand-title {
        padding: 0px 0px;
    }

    .brand-title h2 {
        font-size: 2rem;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .btn-primary {
        padding: 15px 20px;
        font-size: 0.9rem;
        margin-bottom: 30px;
    }
}

/* For Medium Devices */
@media screen and (min-width:572px) and (max-width:992px) {
    .brand {
        padding: 10px 70px;
    }

    .menu-item a {
        margin-left: 15px;
    }

    .brand-title {
        padding: 0px 100px;
    }

    .brand-title h2 {
        font-size: 2rem;
        margin: 20px 0px;
    }

    .navbar-title h3 {
        font-size: 1.5rem;
    }

    .menu-item a {
        margin: 5px;
        font-size: 0.9rem;
        font-weight: 600;
    }
}